<!DOCTYPE html>

<div class="columns">
  <!-- profile -->
  <div class="column is-4 is-offset-2">
    <h1 class="title">Your Profile</h1>

    <img class="image" ng-src="{{ usersShow.user.image }}" alt="usersShow.user.username">
    <h2>{{ usersShow.user.username }}</h2>
    <p class="title is-4" ng-if="usersShow.user.firstname">{{ usersShow.user.firstname }}</p>
    <p class="title is-4" ng-if="usersShow.user.lastname">{{ usersShow.user.lastname }}</p>
    <a href="mailto:{{ usersShow.user.email }}" ng-if="profile.user.email">{{ usersShow.user.email }}</a>
    <p ng-if="usersShow.user.facebookId">Facebook Id: <strong>{{ usersShow.user.facebookId }}</strong></p>
    <p ng-if="usersShow.user.instagramId">Instagram Id: <strong>{{ usersShow.user.instagramId }}</strong></p>

  </div>

  <!-- comments -->
  <div class="column is-4">
    <h1 class="title">Comments</h1>
    <article class="media">
      <div class="media-content">
        <ul>
          <li ng-repeat="comment in usersShow.user.comments track by $index">
            <strong>{{ comment.createdBy.username }}</strong> - {{ comment.text }}
            <!-- comments delete button -->
            <button type="button" name="button" class="button" ng-if="main.isAuthenticated() && main.currentUserId === comment.createdBy.id" ng-click="usersShow.deleteComment(comment)">Delete</button>
          </li>
        </ul>
        <form ng-submit="usersShow.addComment()" ng-if="main.isAuthenticated()">
          <div class="field">
            <p class="control">
              <textarea class="textarea" placeholder="Add a comment..." ng-model="usersShow.newComment.text"></textarea>
            </p>
          </div>
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <button class="button is-info">Submit</button>
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                <label class="checkbox">
                  <input type="checkbox"> Press enter to submit
                </label>
              </div>
            </div>
          </nav>
        </form>
      </div>
    </article>
  </div>
</div>

<!-- user campaigns -->
<div class="columns is-multiline">
  <div class="column is-4 is-offset-2" ng-repeat="campaign in usersShow.user.campaigns">
    <div >
      <p>
        <strong>{{ campaign.name }}</strong>
      </p>
      <p>
        <strong>{{ campaign.address }}</strong>
      </p>
      <p>
        {{ campaign.description }}
        {{ campaign }}
      </p>
      <ul>
        <li class="tg-list-item">
          <input ng-model="campaign.isAvailable" ng-click="usersShow.toggleAvailability(campaign)" id="{{campaign.id}}" type="checkbox" class="tgl tgl-flip"/>
          <label data-tg-off="Nope" data-tg-on="Yeah!" for="{{campaign.id}}" class="tgl-btn"></label>
        </li>
      </ul>
    </div>

  </div>
</div>

<button ng-if="main.isAuthenticated() && main.currentUserId === usersShow.user.id" ui-sref="usersEdit({ id: usersShow.user.id})">Edit</button>
