
<!DOCTYPE html>

<section class="section">
  <div class="columns">
    <div class="column is-one-quarter is-offset-1">

      <h1 class="title">Edit a campaign</h1>

      <!-- form name -->
      <form ng-submit="campaignsEdit.update()" name="campaignsEdit.campaignForm" novalidate>
        <!-- name -->
        <div class="field">
          <p class="control">
            <label class="label" for="name">Name</label>
          </p>
          <input type="text" class="input" id="name" name="name"
          ng-model="campaignsEdit.campaign.name"
          required>
          <div ng-messages="campaignsEdit.campaignForm.name.$error" ng-show="campaignsEdit.campaignForm.$submitted || campaignsEdit.campaignForm.name.$touched">
            <!-- ng message name -->
            <div ng-message="required" class="notification">You forgot to enter the  name</div>
          </div>
        </div>
        <!-- location -->
        <div class="field">
          <p class="control">
            <label class="label" for="location">Location</label>
          </p>

          <input type="text" class="input" id="location" name="location"
          ng-model="campaignsEdit.campaign.address" location="campaignsEdit.campaign.location"
          required autocomplete>
          <!-- ng message location -->
          <div ng-messages="campaignsEdit.campaignForm.location.$error" ng-show="campaignsEdit.campaignForm.$submitted || campaignsEdit.campaignForm.location.$touched">
            <div ng-message="required" class="notification">You forgot to enter the location</div>
          </div>
        </div>

        <!-- campaign type -->
        <div class="field">
          <p class="control">
            <label class="label" for="campaignType">Campaign type</label>
          </p>

          <select type="text" class="input" id="campaignType" name="campaignType" ng-model="campaignsEdit.campaign.campaignType" required>
            <option value="campaigner">Campaigner</option>
            <option value="helper">Helper</option>
          </select>
          <!-- ng message campaign type -->
          <div ng-messages="campaignsEdit.campaignForm.campaignType.$error" ng-show="campaignsEdit.campaignForm.$submitted || campaignsEdit.campaignForm.campaignType.$touched">
            <div ng-message="required" class="notification">You forgot to enter the type of campaign</div>
          </div>
        </div>
        <!-- category -->
        <div class="categories">
          <h4>Categories:</h4>
          <ul class="categories__created">
            <li ng-repeat="category in campaignsEdit.campaign.categories track by $index">
              <div class="field">
                <p class="control">
                  <label class="label" for="category">Category</label>
                </p>

                <select type="text" class="input" id="category" name="category" ng-model="category.name" required>
                  <option value="food">Food</option>
                  <option value="shelter">Shelter</option>
                  <option value="medical">Medical Assistance</option>
                </select>
                <!-- ng message category -->
                <div ng-messages="campaignsEdit.campaignForm.category.$error" ng-show="campaignsEdit.campaignForm.$submitted || campaignsEdit.campaignForm.category.$touched">
                  <div ng-message="required" class="notification">You forgot to enter the category</div>
                </div>

                <!-- number of people -->

                <p class="control">
                  <label class="label" for="people">Number of people</label>
                </p>

                <input type="number" class="input" min="1" max="50" id="people" name="people" ng-model="campaign.people" required>
                <!-- ng message number of people -->
                <div ng-messages="campaignsEdit.campaignForm.people.$error" ng-show="campaignsEdit.campaignForm.$submitted || campaignsEdit.campaignForm.people.$touched">
                  <div ng-message="required" class="notification">You forgot to enter the number of people</div>
                </div>
              </div>

              <button class="button is-small is-danger" type="button" name="button"  ng-click="campaignsEdit.deleteCategory(category)" ng-if="main.isAuthenticated()">Delete Category</button>

            </li> <!--comment gets passed in so it knows which comment to delete -->
          </ul>

          <button class="button is-small is-success" type="button" name="button" ng-click="campaignsEdit.addCategory()" ng-if="main.isAuthenticated()">Add Category</button>

          </div>
        <!-- expiry date -->
        <div class="field">
          <p class="control">
            <label class="label" for="name">Expiry date</label>
          </p>

          <input type="date" class="input" id="date" name="date"
          ng-model="campaignsEdit.campaign.date"
          required>
          <!-- ng message expiry date -->
          <div ng-messages="campaignsEdit.campaignForm.date.$error" ng-show="campaignsEdit.campaignForm.$submitted || campaignsEdit.campaignForm.date.$touched">

            <div ng-message="required" class="notification">You forgot to enter the campaign expiry date</div>
          </div>
        </div>
        <!-- campaign description -->
        <div class="field">
          <p class="control">
            <label class="label" for="description">Description</label>
          </p>
          <textarea class="input" name="description" rows="8" cols="80" id="description" ng-model="campaignsEdit.campaign.description" required></textarea>

          <!-- ng message campaign description -->
          <div ng-messages="campaignsEdit.campaignForm.description.$error" ng-show="campaignsEdit.campaignForm.$submitted || campaignsEdit.campaignForm.description.$touched">

            <div ng-message="required" class="notification">You forgot to enter a description</div>
          </div>
        </div>

        <!-- submit button -->
        <div class="field">
          <p class="control">
            <input type="submit" class="button is-primary is-fullwidth" value="Edit">
          </p>
        </div>
      </form>

    </div>

    <!-- the google map -->

    <g-map center="campaignsEdit.campaign.location"></g-map>

  </div>


</section>
