<!DOCTYPE html>

<section class="campaigns-index">

  <div class="columns panel">
    <!-- the search -->
    <div class="column">
      <div class="field is-grouped">
        <p class="control has-icons-left has-icons-right">
          <input class="input rounded-input" type="text" placeholder="Search" ng-model="campaignsIndex.q">
          <span class="icon is-small is-left">
            <i class="fa fa-search"></i>
          </span>
        </p>

        <p class="control">
          <a class="button is-info">
            Search
          </a>
        </p>
      </div>
    </div>
    <!-- location search-->
    <div class="column">
      <p class="control">
        <input type="text" class="input rounded-input" id="location" name="location" location="campaignsIndex.center"
        google-autocomplete ng-model="campaignsIndex.address">
        {{ campaignsIndex.campaign.location }}
      </p>
    </div>
    <div class="column">
      <!-- order by -->
      <!-- <label for="distance">Order By Distance</label> -->
      <!-- dropdown -->
      <div class="select">
        <select class="select" id="distance" ng-model="campaignsIndex.distance">
          <optgroup label="Sort by distance">
            <option value="distance">Ascending</option>
            <option value="-distance">Descending</option>
          </optgroup>
        </select>
      </div>
    </div>
  </div>


  <div class="columns">
    <!-- the map -->
    <aside class="column is-4 campaigns-map">
      <google-map campaigns="campaignsIndex.all" center="campaignsIndex.center" locations="campaignsIndex.locations"></google-map>
    </aside>


    <div class="column is-8 campaigns">
      <div class="columns is-multiline">
        <div ng-repeat="campaign in campaignsIndex.filtered"  ng-if="campaign.isAvailable" class="column is-4 campaign">
          <!-- card -->
          <div class="card is-4">
            <div>
              <a ui-sref="campaignsShow({ id: campaign.id })">
              <figure class="indeximage">
                <img  class="indexpic image is-480x480" ng-src="{{ campaign.imageSRC }}">
              </figure>
              </a>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="card-heading centered">{{ campaign.name | uppercase }}</p>
                  <p class="card-details centered"><small>{{ campaign.address }}</small></p>
                  <p class="card-details centered"><i class="fa fa-map-pin card-icon" aria-hidden="true"></i>{{ (campaign.distance / 1000).toFixed(1) | number }} <small><em>km away</em></small></p>
                  <hr>
                  <div class="card category-card">
                    <p class="centered">CATEGORIES</p>
                    <div ng-repeat="category in campaign.categories">
                      <p class="category-in-card centered"><em><small>{{ category.name }} for {{ category.people }}</small></em></p>
                    </div>
                  </div>

                </div>
              </div>



              <article class="media">
                <figure class="media-left">
                  <p class="image is-48x48" ui-sref="usersShow({id: campaign.createdBy.id })">
                    <img class="circle" ng-src="{{ campaign.createdBy.imageSRC }}">
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>{{ campaign.createdBy.username }}</strong><br>
                      <em>31m</em>
                    </p>
                  </div>
                </div>
              </article>
              <p ng-class="campaign.campaignType === 'Helper' ? 'button is-success' : 'button is-danger'">{{ campaign.campaignType }}</p>
              <!-- <button class="button" type="button" name="button" ui-sref="campaignsShow({ id: campaign.id })">View</button> -->
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>




</section>
