<!DOCTYPE html>

<section class="campaigns-index">

  <div class="columns">
    <!-- the search -->
    <div class="column">
      <div class="field is-grouped">
        <p class="control">
          <input class="input" type="text" placeholder="Search" ng-model="campaignsIndex.q">
        </p>
        <p class="control">
          <a class="button is-info">
            Search
          </a>
        </p>
      </div>
    </div>
    <!-- location search-->
    <div class="column">
      <p class="control">
        <input type="text" class="input" id="location" name="location" location="campaignsIndex.center"
        google-autocomplete ng-model="campaignsIndex.address">
        {{ campaignsIndex.campaign.location }}
      </p>
    </div>
    <div class="column">
      <!-- order by -->
      <label for="distance">Order By Distance</label>
      <!-- dropdown -->
      <div class="select">
        <select id="distance" ng-model="campaignsIndex.distance">
          <optgroup label="Choose an option">
            <option  value="distance">Ascending</option>
            <option value="-distance">Descending</option>
          </optgroup>
        </select>
      </div>
    </div>
  </div>


  <div class="columns">
    <!-- the map -->
    <aside class="column is-4 campaigns-map">
      <google-map center="campaignsIndex.center" locations="campaignsIndex.locations"></google-map>
    </aside>


    <div class="column is-8 campaigns">
      <div class="columns is-multiline">
        <div ng-repeat="campaign in campaignsIndex.filtered"  ng-if="campaign.isAvailable" class="column is-4 campaign">
          <!-- card -->
          <div class="card is-4">
            <div>
              <figure class="indeximage">
                <img  class="indexpic image is-480x480" ng-src="{{ campaign.imageSRC }}">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p>{{ campaign.name | uppercase }}</p>
                  <p><strong>Location:</strong> {{ campaign.address }}</p>
                  <p><strong>Distance:</strong> {{ (campaign.distance / 1000).toFixed(1) | number }} km away </p>
                  <p><strong>Campaign type:</strong> {{ campaign.campaignType }}</p>
                  <p><strong>Campaign category:</strong> {{ campaign.category }}</p>
                  <div ng-repeat="category in campaign.categories">
                    <p>{{ category.name }}:  {{ category.people }}</p>
                  </div>
                  <p><strong>Description:</strong> {{ campaign.description }}</p>
                </div>
              </div>

              <p><em><a ui-sref="usersShow({id: campaign.createdBy.id })"><strong>Created by:</strong> {{ campaign.createdBy.username  }}</a></em></p>

              <button class="button" type="button" name="button" ui-sref="campaignsShow({ id: campaign.id })">View</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>




</section>
