<!DOCTYPE html>

<section class="campaigns-index">

  <div class="columns">
    <!-- the search -->
    <div class="column">
      <div class="field is-grouped">
        <p class="control">
          <input class="input" type="text" placeholder="Search" ng-model="campaignsIndex.q">
        </p>
        <p class="control">
          <a class="button is-info">
            Search
          </a>
        </p>
      </div>
    </div>
    <!-- location search-->
    <div class="column">
      <p class="control">
        <input type="text" class="input" id="location" name="location" location="campaignsIndex.center"
        autocomplete ng-model="campaignsIndex.address">
        {{ campaignsIndex.campaign.location }}
      </p>
    </div>
    <div class="column">
      <!-- order by -->
      <label for="distance">Order By Distance</label>
      <!-- dropdown -->
      <div class="select">
        <select id="distance" ng-model="campaignsIndex.distance">
          <optgroup label="Choose an option">
            <option  value="distance">Ascending</option>
            <option value="-distance">Descending</option>
          </optgroup>
        </select>
      </div>
    </div>
  </div>


  <div class="columns">
    <!-- the map -->
    <aside class="column is-4 campaigns-map">
      <google-map campaigns="campaignsIndex.all" center="campaignsIndex.center" locations="campaignsIndex.locations"></google-map>
    </aside>


    <div class="column is-8 campaigns">
      <div class="columns is-multiline">
        <div ng-repeat="campaign in campaignsIndex.filtered"  ng-if="campaign.isAvailable" class="column is-4 campaign">
          <!-- card -->
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <div class="campaign single-image" style="background-image:url('{{ campaignsIndex.campaign.imageSRC }}')" ui-sref="campaignsShow({ id: campaign.id })"></div>
                <img ng-src="{{ campaign.imageSRC }}">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">

                <div class="media-content">
                  <p class="title is-4">{{ campaign.name | uppercase }}</p>
                  <p class="subtitle is-6">{{ campaign.address }}</p>
                  <p> {{ (campaign.distance / 1000).toFixed(1) | number }} km away </p>
                  <p><strong>{{ campaign.campaignType }}</strong></p>
                  <p><strong>{{ campaign.category }}</strong></p>
                  <p ng-repeat="category in campaign.categories">
                    <strong>{{ category.name }} </strong>
                    <br>
                    <strong>{{ category.people }}</strong>
                  </p>


                </div>
              </div>

              <div class="content">
                <p><strong>{{ campaign.description }}</strong></p>
                <br>

              <p>
                <em><a ui-sref="usersShow({id: campaign.createdBy.id })">{{ campaign.createdBy.username  }}</a></em>
              </p>
              </div>

              <button class="button" type="button" name="button" ui-sref="campaignsShow({ id: campaign.id })">View</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>




</section>
