<!DOCTYPE html>

<section ng-controller="GeolocationCtrl as location">
</section>

<section class="section">
  <div class="columns">
    <div class="column is-one-quarter is-offset-1">

      <h1 class="title">Start a campaign</h1>

      <!-- form name -->
      <form ng-submit="campaignsNew.create()" name="campaignsNew.campaignForm" novalidate>
        <!-- name -->
        <div class="field">
          <p class="control">
            <label class="label" for="name">Name</label>
          </p>
          <input type="text" class="input" id="name" name="name"
          ng-model="campaignsNew.campaign.name"
          required>
          <div ng-messages="campaignsNew.campaignForm.name.$error" ng-show="campaignsNew.campaignForm.$submitted || campaignsNew.campaignForm.name.$touched">
            <!-- ng message name -->
            <div ng-message="required" class="notification">Name is required.</div>
          </div>
        </div>
        <!-- location -->
        <div class="field">
          <p class="control">
            <label class="label" for="location">Location</label>
          </p>

          <input type="text" class="input" id="location" name="location"
          ng-model="campaignsNew.campaign.address" location="campaignsNew.campaign.location"
          required autocomplete>
          <!-- ng message location -->
          <div ng-messages="campaignsNew.campaignForm.location.$error" ng-show="campaignsNew.campaignForm.$submitted || campaignsNew.campaignForm.location.$touched">
            <div ng-message="required" class="notification">Location is required.</div>
          </div>
        </div>

        <!-- campaign type -->
        <div class="field">
          <p class="control">
            <label class="label" for="campaignType">Campaign type</label>
          </p>

          <select type="text" class="input" id="campaignType" name="campaignType" ng-model="campaignsNew.campaign.campaignType" required>
            <option value="campaigner">Campaigner</option>
            <option value="helper">Helper</option>
          </select>
          <!-- ng message campaign type -->
          <div ng-messages="campaignsNew.campaignForm.campaignType.$error" ng-show="campaignsNew.campaignForm.$submitted || campaignsNew.campaignForm.campaignType.$touched">
            <div ng-message="required" class="notification">Campaign type is required.</div>
          </div>
        </div>
        <!-- category -->
        <div class="field">
          <p class="control">
            <label class="label" for="campaignType">Category</label>
          </p>

          <select type="text" class="input" id="category" name="category" ng-model="campaignsNew.campaign.category" required>
            <option value="food">Food</option>
            <option value="shelter">Shelter</option>
            <option value="medical">Medical Assistance</option>
          </select>
          <!-- ng message category -->
          <div ng-messages="campaignsNew.campaignForm.category.$error" ng-show="campaignsNew.campaignForm.$submitted || campaignsNew.campaignForm.category.$touched">
            <div ng-message="required" class="notification">Category is required.</div>
          </div>
        </div>
        <!-- number of people -->
        <div class="field">
          <p class="control">
            <label class="label" for="people">Number of people</label>
          </p>

          <input type="number" class="input" id="people" name="people"
          ng-model="campaignsNew.campaign.people"
          required>
          <!-- ng message number of people -->
          <div ng-messages="campaignsNew.campaignForm.people.$error" ng-show="campaignsNew.campaignForm.$submitted || campaignsNew.campaignForm.people.$touched">
            <div ng-message="required" class="notification">You forgot to enter the number of people</div>
          </div>
        </div>
        <!-- expiry date -->
        <div class="field">
          <p class="control">
            <label class="label" for="name">Expiry date</label>
          </p>

          <input type="date" class="input" id="date" name="date"
          ng-model="campaignsNew.campaign.date"
          required>
          <!-- ng message expiry date -->
          <div ng-messages="campaignsNew.campaignForm.date.$error" ng-show="campaignsNew.campaignForm.$submitted || campaignsNew.campaignForm.date.$touched">

            <div ng-message="required" class="notification">You forgot to enter the campaign expiry date</div>
          </div>
        </div>
        <!-- campaign description -->
        <div class="field">
          <p class="control">
            <label class="label" for="description">Description</label>
          </p>
          <textarea class="input" name="description" rows="8" cols="80" id="description" ng-model="campaignsNew.campaign.description" required></textarea>

          <!-- ng message campaign description -->
          <div ng-messages="campaignsNew.campaignForm.description.$error" ng-show="campaignsNew.campaignForm.$submitted || campaignsNew.campaignForm.description.$touched">

            <div ng-message="required" class="notification">Description is required.</div>
          </div>
        </div>

        <!-- submit button -->
        <div class="field">
          <p class="control">
            <input type="submit" class="button is-primary is-fullwidth" value="Start">
          </p>
        </div>
      </form>
    </div>

    <!-- the google map -->

    <g-map center="campaignsNew.campaign.location"></g-map>

  </div>


</section>
