<!DOCTYPE html>

<section class="section">
  <div class="columns">
    <div class="column is-one-quarter is-offset-1">

      <h1 class="title">Start a campaign</h1>

      <!-- form name -->
      <form ng-submit="campaignsNew.create()" name="campaignsNew.campaignForm" novalidate>
        <!-- name -->
        <div class="field">
          <p class="control">
            <label class="label" for="name">Name</label>
          </p>
          <input type="text" class="input" id="name" name="name"
          ng-model="campaignsNew.campaign.name"
          required>
          <div ng-messages="campaignsNew.campaignForm.name.$error" ng-show="campaignsNew.campaignForm.$submitted || campaignsNew.campaignForm.name.$touched">
            <!-- ng message name -->
            <div ng-message="required" class="notification">You forgot to enter the  name</div>
          </div>
        </div>
        <!-- location -->
        <div class="field">
          <p class="control">
            <label class="label" for="location">Location</label>
          </p>

          <input type="text" class="input" id="location" name="location"
          ng-model="campaignsNew.campaign.address" location="campaignsNew.campaign.location"
          required autocomplete>
          <!-- ng message location -->
          <div ng-messages="campaignsNew.campaignForm.location.$error" ng-show="campaignsNew.campaignForm.$submitted || campaignsNew.campaignForm.location.$touched">
            <div ng-message="required" class="notification">You forgot to enter the location</div>
          </div>
        </div>

        <!-- campaign type -->
        <div class="field">
          <p class="control">
            <label class="label" for="campaignType">Campaign type</label>
          </p>

          <select type="text" class="input" id="campaignType" name="campaignType" ng-model="campaignsNew.campaign.campaignType" required>
            <option value="campaigner">Campaigner</option>
            <option value="helper">Helper</option>
          </select>
          <!-- ng message campaign type -->
          <div ng-messages="campaignsNew.campaignForm.campaignType.$error" ng-show="campaignsNew.campaignForm.$submitted || campaignsNew.campaignForm.campaignType.$touched">
            <div ng-message="required" class="notification">You forgot to enter the type of campaign</div>
          </div>
        </div>

        <!--categories-->
        <div class="categories">
          <h4>Categories:</h4>
          <ul class="categories__created">
            <li ng-repeat="category in campaignsNew.campaign.categories track by $index">
              <div class="field">
                <p class="control">
                  <label class="label" for="category">Category</label>
                </p>

         <!-- is Available? -->
         <div class="field is-horizontal">
           <div class="field-label">
             <label class="label">Is available?</label>
           </div>
           <div class="field">
             <div class="control">
               <label class="checkbox">
                 <input type="checkbox" id="isAvailable" name="isAvailable"
                 ng-model="campaignsNew.campaign.isAvailable"
                 required>
               </label>
             </div>
           </div>
         </div>

         <!-- category -->
        <div class="field">
          <p class="control">
            <label class="label" for="campaignType">Category</label>
          </p>
          <select type="text" class="input" id="category" name="category" ng-model="campaignsEdit.campaign.category" required>
            <option value="food">Food</option>
            <option value="shelter">Shelter</option>
            <option value="medical">Medical Assistance</option>
          </select>
          <!-- ng message category -->
          <div ng-messages="campaignsEdit.campaignForm.category.$error" ng-show="campaignsEdit.campaignForm.$submitted || campaignsEdit.campaignForm.category.$touched">
            <div ng-message="required" class="notification">You forgot to enter the category</div>
          </div>
        </div>

        <!-- number of people -->

                <!-- number of people -->

                <p class="control">
                  <label class="label" for="people">Number of people</label>
                </p>

                <input type="number" class="input" min="1" max="50" id="people" name="people" ng-model="campaign.people" required>
                <!-- ng message number of people -->
                <div ng-messages="campaignsNew.campaignForm.people.$error" ng-show="campaignsNew.campaignForm.$submitted || campaignsNew.campaignForm.people.$touched">
                  <div ng-message="required" class="notification">You forgot to enter the number of people</div>
                </div>
              </div>

              <button class="button is-small is-danger" type="button" name="button"  ng-click="campaignsNew.deleteCategoryFromView(category)" ng-if="main.isAuthenticated()">Delete Category</button>

            </li> <!--comment gets passed in so it knows which comment to delete -->
          </ul>

          <button class="button is-small is-success" type="button" name="button" ng-click="campaignsNew.addCategory()" ng-if="main.isAuthenticated()">Add Category</button>

          <!-- category -->

        </div>


        <!-- expiry date -->
        <div class="field">
          <p class="control">
            <label class="label" for="name">Expiry date</label>
          </p>

          <input type="date" class="input" id="date" name="date"
          ng-model="campaignsNew.campaign.date"
          required>
          <!-- ng message expiry date -->
          <div ng-messages="campaignsNew.campaignForm.date.$error" ng-show="campaignsNew.campaignForm.$submitted || campaignsNew.campaignForm.date.$touched">

            <div ng-message="required" class="notification">You forgot to enter the campaign expiry date</div>
          </div>
        </div>
        <!-- campaign description -->
        <div class="field">
          <p class="control">
            <label class="label" for="description">Description</label>
          </p>
          <textarea class="input" name="description" rows="8" cols="80" id="description" ng-model="campaignsNew.campaign.description" required></textarea>

          <!-- ng message campaign description -->
          <div ng-messages="campaignsNew.campaignForm.description.$error" ng-show="campaignsNew.campaignForm.$submitted || campaignsNew.campaignForm.description.$touched">

            <div ng-message="required" class="notification">You forgot to enter a description</div>
          </div>
        </div>

        <!-- submit button -->
        <div class="field">
          <p class="control">
            <input type="submit" class="button is-primary is-fullwidth" value="Start">
          </p>
        </div>
      </form>
    </div>

    <!-- the google map -->

    <g-map center="campaignsNew.campaign.location"></g-map>

  </div>


</section>
