<!DOCTYPE html>

<section class="section">
  <div class="columns">
    <div class="column is-one-quarter is-offset-1">

      <h1 class="title">Start a campaign</h1>

      <!-- form name -->
      <form ng-submit="campaignsNew.create()" name="campaignsNew.campaignForm" novalidate>
        <!--image-->
        <div class="field">
          <label class="label" for="image">Image</label>
          <label class="button is-primary" for="image">Choose File</label>
          <input base64 type="file" name="image" id="image" ng-model="campaignsNew.campaign.base64" hidden>
          <img ng-src="{{ campaignsNew.campaign.base64 }}">
        </div>
        <!-- name -->
        <div class="field">
          <p class="control">
            <label class="label" for="name">Name</label>
          </p>
          <input type="text" class="input" id="name" name="name"
          ng-model="campaignsNew.campaign.name"
          required>
          <!-- ng message name -->
          <div ng-messages="campaignsNew.campaignForm.name.$error" ng-show="campaignsNew.campaignForm.$submitted || campaignsNew.campaignForm.name.$touched">
            <div ng-message="required" class="notification">You forgot to enter the  name</div>
          </div>
        </div>
        <!-- location -->
        <div class="field">
          <p class="control">
            <label class="label" for="location">Location</label>
          </p>

          <input type="text" class="input" id="location" name="location"
          ng-model="campaignsNew.campaign.address" location="campaignsNew.campaign.location"
          required google-autocomplete>
          <!-- ng message location -->
          <div ng-messages="campaignsNew.campaignForm.location.$error" ng-show="campaignsNew.campaignForm.$submitted || campaignsNew.campaignForm.location.$touched">
            <div ng-message="required" class="notification">You forgot to enter the location</div>
          </div>
        </div>

        <!-- campaign type -->
        <div class="field">
          <p class="control">
            <label class="label" for="campaignType">Campaign type</label>
          </p>

          <select type="text" class="input" id="campaignType" name="campaignType" ng-model="campaignsNew.campaign.campaignType" required>
            <option value="Campaigner">Campaigner</option>
            <option value="Helper">Helper</option>
          </select>
          <!-- ng message campaign type -->
          <div ng-messages="campaignsNew.campaignForm.campaignType.$error" ng-show="campaignsNew.campaignForm.$submitted || campaignsNew.campaignForm.campaignType.$touched">
            <div ng-message="required" class="notification">You forgot to enter the type of campaign</div>
          </div>
        </div>

        <!--categories-->
        <div class="categories">
          <ul >
            <li ng-repeat="category in campaignsNew.campaign.categories track by $index">
              Category test: {{ category }}
              <!-- category -->
              <div class="field">
                <p class="control">
                  <label class="label" for="category">Category</label>
                </p>
                <input class="input" type="text" name="category" list="category"
                ng-model="category.name" required>
                <datalist id="category">
                  <option value="Food"></option>
                  <option value="Shelter"></option>
                  <option value="Medical Assistance"></option>
                  <option value="Water"></option>
                  <option value="Clothing"></option>
                </datalist>
                <!-- ng message category -->
                <div ng-messages="campaignsNew.campaignForm.category.$error" ng-show="campaignsNew.campaignForm.$submitted || campaignsNew.campaignForm.category.$touched">
                  <div ng-message="required" class="notification">You forgot to enter the category</div>
                </div>
              </div>

              <!-- number of people -->

              <p class="control">
                <label class="label" for="people">Number of people</label>
              </p>

              <input type="number" class="input" min="1" max="50" id="people" name="people" ng-model="category.people" required>
              <!-- ng message number of people -->
              <div ng-messages="campaignsNew.campaignForm.people.$error" ng-show="campaignsNew.campaignForm.$submitted || campaignsNew.campaignForm.people.$touched">
                <div ng-message="required" class="notification">You forgot to enter the number of people</div>
              </div>


              <button class="button is-danger" type="button" name="button"  ng-click="campaignsNew.deleteCategoryFromView(category)" ng-if="main.isAuthenticated()">Delete a category</button>

            </li>
          </ul>

          <button class="button is-success" type="button" name="button" ng-click="campaignsNew.addCategory()" ng-if="main.isAuthenticated()">Add another category</button>
        </div>

        <!-- campaign description -->
        <div class="field">
          <p class="control">
            <label class="label" for="description">Description</label>
          </p>
          <textarea class="input" name="description" rows="8" cols="80" id="description" ng-model="campaignsNew.campaign.description" required></textarea>

          <!-- ng message campaign description -->
          <div ng-messages="campaignsNew.campaignForm.description.$error" ng-show="campaignsNew.campaignForm.$submitted || campaignsNew.campaignForm.description.$touched">

            <div ng-message="required" class="notification">You forgot to enter a description</div>
          </div>
        </div>

        <!-- submit button -->
        <div class="field">
          <p class="control">
            <input type="submit" class="button is-primary is-fullwidth" value="Start">
          </p>
        </div>
      </form>
    </div>

    <!-- the google map -->

    <g-map center="campaignsNew.campaign.location"></g-map>

  </div>


</section>
