<!DOCTYPE html>

  <h1>{{ campaignsShow.campaign.name }}</h1>

  <p>{{ campaignsShow.campaign.campaignType }}</p>

  <p>{{ campaignsShow.campaign.category }}</p>

  <p>{{ campaignsShow.campaign.people }}</p>

  <p>{{ campaignsShow.campaign.expiryDate }}</p>

  <p>{{ campaignsShow.campaign.description }}</p>

  <g-map class="map" center="campaignsShow.campaign.location"></g-map>

  <button class="button is-small is-success" ui-sref="campaignsEdit({ id: campaignsShow.campaign.id })" ng-if="main.isAuthenticated()" id="editbutton">Edit</button>

  <button class="button is-small is-danger" ng-click="campaignsShow.delete()" ng-if="main.isAuthenticated()" id="deletebutton">Delete</button>
