<!DOCTYPE html>

<section class="section">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <form ng-submit="login.submit()">
        <div class="field">
          <label class="label" for="email">Email</label>
          <p class="control">
            <input class="input" type="text" name="email" id="email" ng-model="login.credentials.email">
          </p>
        </div>
        <div class="field">
          <label class="label" for="password">Password</label>
          <p class="control">
            <input class="input" type="password" name="password" id="password" ng-model="login.credentials.password">
          </p>
        </div>

        <div class="field">
          <p class="control">
            <input type="submit" class="button is-primary is-fullwidth" value="Login">
          </p>
        </div>
        <!-- facebook -->
        <div class="field">
          <button class="button" ng-click="login.authenticate('facebook')">Login with Facebook</button>
        </div>
      </form>
    </div>
  </div>
</section>
