<!DOCTYPE html>

<section class="section">
  <div class="columns">

    <div class="column is-half is-offset-one-quarter">
      <h1 class="title">Login</h1>
      <!-- form name -->
      <form name="login.loginForm" ng-submit="login.submit()" novalidate>
        <!-- email -->
        <div class="field">
          <label class="label" for="email">Email</label>
          <p class="control">
            <input class="input" type="text" name="email" id="email"
            ng-model="login.credentials.email"
            ng-minlength="5"
            ng-maxlength="30"
            required>
          </p>
        </div>
        <!-- ng-messages email-->
        <div class="error-messages" ng-messages="login.loginForm.email.$error" ng-show="login.loginForm.$submitted || login.loginForm.email.$touched" ng-messages-multiple>
          <div ng-message="required">
            You forgot to enter the email address
          </div>
          <div ng-message="email">
            You didn't enter the email address correctly
          </div>
          <div ng-message="minlength">
            The email address you entered is too short
          </div>
          <div ng-message="maxlength">
            The email address you entered is too long
          </div>
        </div>
        <!-- password -->
        <div class="field">
          <label class="label" for="password">Password</label>
          <p class="control">
            <input class="input" type="password" name="password" id="password" ng-model="login.credentials.password" required>
          </p>
        </div>
        <!-- ng messages password-->
        <div ng-messages="login.loginForm.password.$error" ng-show="login.loginForm.$submitted || login.loginForm.password.$dirty" ng-messages-multiple="ng-messages-multiple" class="error-messages">
          <div ng-message="required">You forgot to enter a password</div>
        </div>
        <!-- submit button -->
        <div class="field">
          <p class="control">
            <input type="submit" class="button is-primary is-fullwidth" value="Login">
          </p>
        </div>


      </form>

      <!-- facebook  and instagram buttons-->
      <div class="field">
        <button class="button field" ng-click="login.authenticate('facebook')"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i>Login with Facebook</button>
      </div>
      <div class="field">
        <button class="button field" ng-click="login.authenticate('instagram')"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i>  Login with Instagram</button>
      </div>
      
    </div>
  </div>
</section>
