// Import all of your scss files here
@import "bulma/utilities/_all";
@import "bulma/base/_all";
@import "bulma/components/_all";
@import "bulma/elements/_all";
@import "bulma/grid/_all";
@import "bulma/layout/_all";


/*Variables*/

/*Colors*/
$whiteSmoke: #f5f5f5;
$royalBlue: #4169e1;
$black: #171717;
$heading:hsl(0,100%,40%);



body, html {
  background: $whiteSmoke;
}

aside.column {
  padding: 0;
  position: fixed;
  display: inline-block;
}

/*classes */
.map {
  height: 600px;
}

.campaign-item {
  border: 2px solid black;
  margin: 5px;
}



.map-container {
  position: relative;
  overflow: hidden;
  .map-marker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $heading;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    z-index: 10;
  }
}

/*ids*/

#map {
  background-color: grey;
  height: 600px;
  width: 100%;
}
