// Import all of your scss files here
@import "bulma/utilities/_all";
@import "bulma/base/_all";
@import "bulma/components/_all";
@import "bulma/elements/_all";
@import "bulma/grid/_all";
@import "bulma/layout/_all";


/*Variables*/

/*Colors*/
$whiteSmoke: #f5f5f5;
$royalBlue: #4169e1;
$black: #171717;
$heading:hsl(0,100%,40%);



body, html {
  background: $whiteSmoke;
}

/*classes */
.map {
  height: 100%;
  width: 100%;
  &.map-show {
    height: 500px;
  }
}

.indexmap {
  height: 150px;
  width: 150px;
}

.campaign-item {
  border: 2px solid black;
  margin: 5px;
}

.button {
  width: 100%;
}



.map-container {
  position: relative;
  overflow: hidden;

}

/*ids*/

#map {
  background-color: grey;
  height: 600px;
  width: 100%;
}



.campaigns-index {
  height: calc(100vh - 28px);
  padding-right: 20px;
  .campaigns {
    height: calc(100vh - 120px);
    overflow: scroll;
    .campaign {
      display: flex;
    }
  }

  .campaigns-map {
    padding-bottom: 0;
  }
}

// Toggle CSS

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tg-list {
	text-align: center;
	display: flex;
	align-items: center;
}

.tg-list-item {
	margin: 0 2em;
}

h2 {
	color: #777;
}

h4 {
	color: #999;
}

.tgl {
	display: none;

	// add default box-sizing for this scope
	&,
  &:after,
  &:before,
	& *,
  & *:after,
  & *:before,
	& + .tgl-btn {
		box-sizing: border-box;
		&::selection {
			background: none;
		}
	}

	+ .tgl-btn {
		outline: 0;
		display: block;
		width: 4em;
		height: 2em;
		position: relative;
		cursor: pointer;
    user-select: none;
		&:after,
    &:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}

		&:after {
			left: 0;
		}

		&:before {
			display: none;
		}
	}

	&:checked + .tgl-btn:after {
		left: 50%;
	}
}


.tgl-flip {
	+ .tgl-btn {
		padding: 2px;
		transition: all .2s ease;
		font-family: sans-serif;
		perspective: 100px;
		&:after,
    &:before {
			display: inline-block;
			transition: all .4s ease;
			width: 100%;
			text-align: center;
			position: absolute;
			line-height: 2em;
			font-weight: bold;
			color: #fff;
			position: absolute;
			top: 0;
			left: 0;
			backface-visibility: hidden;
			border-radius: 4px;
		}

		&:after {
			content: attr(data-tg-on);
			background: #02C66F;
			transform: rotateY(-180deg);
		}

		&:before {
			background: $heading;
			content: attr(data-tg-off);
		}

		&:active:before {
      transform: rotateY(-20deg);
		}
	}

	&:checked + .tgl-btn {
    &:before {
      transform: rotateY(180deg);
    }

    &:after {
      transform: rotateY(0);
      left: 0;
      background: #7FC6A6;
    }

    &:active:after {
      transform: rotateY(20deg);
    }
	}
}


label {
  margin-top: 10px;
}


h1 {
  font-size: 20px;
  font-weight: bold;
}
