// Import all of your scss files here
@import "bulma/utilities/_all";
@import "bulma/base/_all";
@import "bulma/components/_all";
@import "bulma/elements/_all";
@import "bulma/grid/_all";
@import "bulma/layout/_all";


/*Variables*/

/*Colors*/
$whiteSmoke: #f5f5f5;
$royalBlue: #4169e1;
$black: #222222;
$heading:hsl(0,100%,40%);

html, body, section {
  height: 100%
}

nav {
  margin-bottom: 10px;
}

section {
  margin-top: -10px;
}



.nav-item a:not(.button):not(.tag):hover, a.nav-item:not(.button):not(.tag):hover {
  color: $whiteSmoke
}

.nav-item a {
  &.active {
    color: $whiteSmoke
  }
}

.brand-logo {
  border: 1px solid $whiteSmoke;
  color: $whiteSmoke;
  background: transparent;
  letter-spacing: 1.2px;
  border-radius: 15px;
  padding: 15px 12px;
  margin: 12px;
}

.search-panel {
  padding-left: 20px;

  p.control.has-icons-left {
    width: 30%;
    position: absolute;
    .input.rounded-input {
      // position: absolute;
      width: 100%;
    }
  }
  div p.search-button {
    margin-left: 65%;
    a.button {
      border-radius: 0 20px 20px 0;
    }
  }
}

.campaign-form {
  padding: 35px;
}

.sort-distance {
  text-align: right;
  padding-right: 30px;
}

.centered {
  text-align: center;
}

.card-icon {
  width: 30px;
}

.card-details {
  color: #666;
  letter-spacing: 1.1px;
  padding-bottom: 3px;
}

.card-heading {
  font-size: 22px;
  padding-bottom: 5px;
}

.description-area {
  padding-top: 20px;
  .description {
    letter-spacing: 1,1px;
    padding: 5px
  }
}

.show-footer {
  border: 1px solid white;
  border-right: 1px solid white;

  margin-top: 20px;
}

.category-in-card {
  padding: 2.5px
}

h1.black-title {
    color: $black;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.remove-padding {
  padding: 0;
}

.circle {
  border-radius: 50%;
  height: 100% !important;
}

.notification:not(:last-child) {
  margin-bottom: 0;
  border-radius: 0;
}

.panel {
  background-color: $black;
  box-shadow: 1px 2px 1px #444;
  input {
    padding-left: 15px;
  }
}

.navbar {
  background-color: $black;
  .navbar-menu .nav-item {
    margin: 12px;
    color: white;
    background: transparent;
    border: none;
    border-radius: 15px;
    padding: 15px 12px;
    &:hover {
      background: #f5f5f5;
      color: $black;
      transition: color 0.75s;
      transition: background 0.4s;
    }
  }
}

.register-setion {
  background-color: $black;
  height: 100%;
  min-height: 100vh;
  padding: 1.5em;
}

.fore-setion {
  color: $black;
  background: white;
}

.title {
  color: white;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.form-style {
  background: white;
  padding: 20px;
  border-radius: 2.5px;
}

img {
  width: 100%;
}

/*classes */
.map {
  height: 100%;
  width: 100%;
  &.map-show {
    height: 110vh;
    width: 100%;
  }
}

.indexmap {
  height: 150px;
  width: 150px;
}


.campaign-item {
  border: 2px solid black;
  margin: 5px;
}

.form-button {
  margin-bottom: 10px;
  margin-top: 30px;
}

.button-holder {
  text-align: center;
}



.button {
  width: 50%;
  background: #222222;
  color: white !important;
  border: none;
  outline: 0;
  min-width: 180px;
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 20px;
  padding: 5px 8px;
  &:hover {
    background: lighten(#222222, 20%);
    transition: background 0.5s;
    color: white;
  }
}
.fb-button {
    background: #3B5998;
    color: white !important;
    border: none;
    outline: 0;
    line-height: 1.4px;
    min-width: 250px;
    margin: 20px auto;
    display: block;
    border: none;
    border-radius: 20px;
    padding: 5px 8px;
    &:hover {
      background: lighten(#3B5998, 20%);
      transition: background 0.5s;
      color: white;
    }
}

.insta-button {
  background: #3F729B;
  color: white !important;
  border: none;
  outline: 0;
  line-height: 1.4px;
  min-width: 250px;
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 20px;
  padding: 5px 8px;
  &:hover {
    background: lighten(#3F729B, 20%);
    transition: background 0.5s;
    color: white;
  }
}

.tag {
  @extend .button;
  cursor: default;
  font-size: 18px;
}

.showtitle {
  color: grey;
}

.rounded-input {
  display: block;
  border: none;
  border-radius: 20px;
  padding: 5px 8px;
  color: #222;
  box-shadow:
    inset 0 2px 0 rgba(0,0,0,.2),
    0 0 4px rgba(0,0,0,0.1);
}

.rounded-input:focus {
  outline: none;
  box-shadow:
    inset 0 2px 0 rgba(0,0,0,.2),
    0 0 4px rgba(0,0,0,0.1),
    0 0 3px 1px #222;
}


.map-container {
  position: relative;
  overflow: hidden;
}

.indeximage {
  height: 200px;
  width: 100%;

}
/*ids*/

#map {
  background-color: grey;
  height: 600px;
  width: 100%;
}

#editimg {
  width: 100%;
  height: auto;
}

.campaigns-index {
  // height: calc(100vh - 28px);
  // padding-right: 20px;
  .campaigns {
    height: calc(100vh - 120px);
    overflow: scroll;
    .campaign {
      display: flex;
    }
  }

  .campaigns-map {
    padding-bottom: 0;
  }
}

// Toggle CSS

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tg-list {
	text-align: center;
	display: flex;
	align-items: center;
}

.tg-list-item {
	margin: 0;
}

h2 {
	color: #777;
}

h4 {
	color: #999;
}

.tgl {
	display: none;

	// add default box-sizing for this scope
	&,
  &:after,
  &:before,
	& *,
  & *:after,
  & *:before,
	& + .tgl-btn {
		box-sizing: border-box;
		&::selection {
			background: none;
		}
	}

	+ .tgl-btn {
		outline: 0;
		display: block;
		width: 5em;
		height: 2em;
		position: relative;
		cursor: pointer;
    user-select: none;
		&:after,
    &:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}

		&:after {
			left: 0;
		}

		&:before {
			display: none;
		}
	}

	&:checked + .tgl-btn:after {
		left: 50%;
	}
}


.tgl-flip {
	+ .tgl-btn {
		padding: 2px;
		transition: all .2s ease;
		font-family: sans-serif;
		perspective: 100px;
		&:after,
    &:before {
			display: inline-block;
			transition: all .4s ease;
			width: 100%;
			text-align: center;
			position: absolute;
			line-height: 2em;
			font-weight: bold;
			color: #fff;
			position: absolute;
			top: 0;
			left: 0;
			backface-visibility: hidden;
			border-radius: 4px;
		}

		&:after {
			content: attr(data-tg-on);
			background: #02C66F;
			transform: rotateY(-180deg);
		}

		&:before {
			background: #FF3A19;
			content: attr(data-tg-off);
		}

		&:active:before {
      transform: rotateY(-20deg);
		}
	}

	&:checked + .tgl-btn {
    &:before {
      transform: rotateY(180deg);
    }

    &:after {
      transform: rotateY(0);
      left: 0;
      background: #7FC6A6;
    }

    &:active:after {
      transform: rotateY(20deg);
    }
	}
}


label {
  margin-top: 10px;
}


h1 {
  font-size: 20px;
  font-weight: bold;
}


.card.is-4 {
  width: 100%;
  // height: 35rem;
}

.new-image {
  margin-top: 10px;
  border-radius: 3px;
}

.card-content {
  width: 100%;
  // height: 600px
}

.indexpic {
  width: 100%;
  height: 100%;
}

.profilephoto {
  height: auto;
  width: 100%;
}

li.availability {
  position: absolute;
}
.availability {
  width: 100%;
}

.profilecampaign {
  margin: 10px;
  // border: 2px black solid;
}

@media screen and (max-width: 800px) {
  .search-panel {
    p.control.has-icons-left {
      display: none;
    }
    .search-button a {
      display: none;
    }
  }

  .sort-distance div {
      display: none;
    }

  .campaigns-index .panel .column {
    padding-left: 20px;
    input {
        width: 92.2%
    };
  }

  .sort-distance {
    padding-right: 50px;
  }
}
